









@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatbox-lib-module_chatbox_controller__ySC-Q {
  font-family: "Poppins", sans-serif;
  width: auto;
  padding: 0 40px;
  height: 56px;
  position: absolute;
  bottom: 30px;
  right: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px 20px 0 20px;
  box-shadow: 0 2px 6px 0 #c6c9cd;
  border: solid 0.6px #ff6f26;
  background-color: #ffffff;
}
.chatbox-lib-module_chatbox_controller__ySC-Q:hover {
  cursor: pointer;
}
.chatbox-lib-module_chatbox_controller__ySC-Q span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #253342;
}
.chatbox-lib-module_chatbox_controller__ySC-Q span span {
  margin-left: 1px;
}

.chatbox-lib-module_chatbox__2A9vN {
  font-family: "Poppins", sans-serif;
  width: 480px;
  height: 648px;
  margin: 24px 0 40px 77px;
  opacity: 0.8;
  border-radius: 20px;
  box-shadow: 4px 4px 12px 0 #c6c9cd, -4px -4px 12px 0 #ecf0f2;
  margin-left: 344px;
  position: relative;
}
.chatbox-lib-module_chatbox__header__1pDwk {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  padding: 0 36px;
  flex-wrap: nowrap;
  position: relative;
}
.chatbox-lib-module_chatbox__header__1pDwk img {
  width: 54px;
  height: 54px;
}
.chatbox-lib-module_chatbox__header__1pDwk > div {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.chatbox-lib-module_chatbox__header__title__3Li2w {
  font-weight: bold;
  font-size: 22px;
  display: block;
  color: #253342;
}
.chatbox-lib-module_chatbox__header__status__1axqk {
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: #5f6b76;
  line-height: 26px;
  display: inline-block;
}
.chatbox-lib-module_chatbox__header__status__1axqk div {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 13px;
}
.chatbox-lib-module_chatbox__header__status__1axqk .chatbox-lib-module_online__3uuPj {
  background-color: #00e96e;
}
.chatbox-lib-module_chatbox__header__icons__1AVS5 {
  display: flex;
  align-items: center;
}
.chatbox-lib-module_chatbox__header__icons__1AVS5 img {
  margin-left: 24px;
  height: 24px;
  width: 24px;
}
.chatbox-lib-module_chatbox__header__icons__1AVS5 img:hover {
  cursor: pointer;
}
.chatbox-lib-module_chatbox__header__menu__1lCd9 {
  width: 182px !important;
  height: 157px;
  padding: 20px 45px 24px 24px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(235, 235, 235, 0.5);
  background-color: #ffffff;
  position: absolute;
  top: 80px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 99;
}
.chatbox-lib-module_chatbox__header__menu__1lCd9 div {
  height: 36px;
  display: flex;
  align-items: center;
}
.chatbox-lib-module_chatbox__header__menu__1lCd9 div:hover {
  cursor: pointer;
}
.chatbox-lib-module_chatbox__header__menu__1lCd9 img {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-right: 6px;
}
.chatbox-lib-module_chatbox__header__menu__1lCd9 span {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #5f6b76;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm {
  background-color: #F9FAFB;
  width: 100%;
  height: 458px;
  padding: 24px;
  overflow: auto;
  position: relative;
}
.chatbox-lib-module_chatbox__messagebox__incomingmessage__cyG7Z {
  max-width: 330px;
  height: auto;
  padding: 16px 24px;
  border-radius: 20px 20px 20px 0;
  border: solid 1px rgba(0, 186, 252, 0.4);
  background-color: rgba(0, 186, 252, 0.1);
  white-space: normal;
  word-break: break-word;
  margin-bottom: 12px;
  float: left;
}
.chatbox-lib-module_chatbox__messagebox__incomingmessage__cyG7Z span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #253342;
}
.chatbox-lib-module_chatbox__messagebox__outgoingmessage__1zQXS {
  max-width: 330px;
  height: auto;
  padding: 16px 24px;
  border-radius: 20px 20px 0 20px;
  border: solid 1px #ecf0f2;
  background-color: rgba(255, 255, 255, 0.9);
  white-space: normal;
  word-break: break-word;
  float: right;
  margin-bottom: 12px;
  text-align: right;
}
.chatbox-lib-module_chatbox__messagebox__outgoingmessage__1zQXS:hover {
  border: solid 1px #00BAFC;
}
.chatbox-lib-module_chatbox__messagebox__outgoingmessage__1zQXS span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #253342;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 {
  background-color: rgba(0, 186, 252, 0.1);
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 24px;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 .chatbox-lib-module_typing__39bY_ {
  align-items: center;
  display: flex;
  height: 17px;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 .chatbox-lib-module_typing__39bY_ .chatbox-lib-module_dot__1ZcKG {
  -webkit-animation: chatbox-lib-module_mercuryTypingAnimation__rJvpH 1.8s infinite ease-in-out;
          animation: chatbox-lib-module_mercuryTypingAnimation__rJvpH 1.8s infinite ease-in-out;
  background-color: rgba(0, 186, 252, 0.7);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 .chatbox-lib-module_typing__39bY_ .chatbox-lib-module_dot__1ZcKG:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 .chatbox-lib-module_typing__39bY_ .chatbox-lib-module_dot__1ZcKG:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 .chatbox-lib-module_typing__39bY_ .chatbox-lib-module_dot__1ZcKG:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.chatbox-lib-module_chatbox__messagebox__2dwcm .chatbox-lib-module_chat-bubble__HcQ25 .chatbox-lib-module_typing__39bY_ .chatbox-lib-module_dot__1ZcKG:last-child {
  margin-right: 0;
}
@-webkit-keyframes chatbox-lib-module_mercuryTypingAnimation__rJvpH {
  0% {
    transform: translateY(0px);
    background-color: rgba(0, 186, 252, 0.7);
  }
  28% {
    transform: translateY(-7px);
    background-color: rgba(0, 186, 252, 0.4);
  }
  44% {
    transform: translateY(0px);
    background-color: rgba(0, 186, 252, 0.2);
  }
}
@keyframes chatbox-lib-module_mercuryTypingAnimation__rJvpH {
  0% {
    transform: translateY(0px);
    background-color: rgba(0, 186, 252, 0.7);
  }
  28% {
    transform: translateY(-7px);
    background-color: rgba(0, 186, 252, 0.4);
  }
  44% {
    transform: translateY(0px);
    background-color: rgba(0, 186, 252, 0.2);
  }
}
.chatbox-lib-module_chatbox__messageinput__2nNLE {
  height: auto;
  width: 100%;
  min-height: 80px;
  padding: 11px 16px 13px 16px;
  border-radius: 0 0 20px 20px;
  border: solid 1px #ecf0f2;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE input {
  width: 100%;
  height: auto;
  min-height: 54px;
  padding: 0 60px 0 24px;
  border-radius: 20px;
  border: solid 1px #ecf0f2;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #253342;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE input:focus {
  outline: none;
  border: solid 1px #1e52b6;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE input ::-moz-placeholder {
  color: #8e9fad;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE input :-ms-input-placeholder {
  color: #8e9fad;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE input ::placeholder {
  color: #8e9fad;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 28px;
}
.chatbox-lib-module_chatbox__messageinput__2nNLE img:hover {
  cursor: pointer;
}
.chatbox-lib-module_chatbox__debugger__19o86 {
  position: absolute;
  width: 300px;
  height: 648px;
  padding: 0 0 216px;
  top: 0;
  left: -324px;
  border-radius: 20px;
  box-shadow: 4px 4px 12px 0 #c6c9cd, -4px -4px 12px 0 #ecf0f2;
  background-color: #F9FAFB;
}
.chatbox-lib-module_chatbox__debugger__header__3npeD {
  width: 300px;
  height: 80px;
  padding: 24px 35px 24px 36px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px 20px 0 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatbox-lib-module_chatbox__debugger__header__3npeD span {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #253342;
}
.chatbox-lib-module_chatbox__debugger__header__3npeD img {
  width: 25px;
  height: 25px;
}
.chatbox-lib-module_chatbox__debugger__header__3npeD img:hover {
  cursor: pointer;
}
.chatbox-lib-module_chatbox__debugger__main__36F8c {
  padding: 24px 32px;
}
.chatbox-lib-module_chatbox__debugger__main__submenu__1UVcv {
  margin-bottom: 30px;
}
.chatbox-lib-module_chatbox__debugger__main__submenu__1UVcv span {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  padding-bottom: 4px;
  color: #253342;
  opacity: 0.45;
  margin-right: 16px;
  display: inline-block;
}
.chatbox-lib-module_chatbox__debugger__main__submenu__1UVcv span:hover {
  cursor: pointer;
}
.chatbox-lib-module_chatbox__debugger__main__submenu__1UVcv .chatbox-lib-module_active__3KrHC {
  opacity: 1;
}
.chatbox-lib-module_chatbox__debugger__main__submenu__1UVcv .chatbox-lib-module_active__3KrHC::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #1e52b6;
}
.chatbox-lib-module_chatbox__debugger__main__content__title__2lUcK {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #253342;
  margin-bottom: 12px;
}
.chatbox-lib-module_chatbox__debugger__main__content__subtitle__25QIy {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5f6b76;
  margin-bottom: 8px;
}
.chatbox-lib-module_chatbox__debugger__main__content__list__3OxEz {
  list-style-position: inside;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5f6b76;
  margin-bottom: 38px;
}
.chatbox-lib-module_chatbox__debugger__main__content__list__3OxEz li {
  cursor: pointer;
}
.chatbox-lib-module_chatbox__debugger__main__content__list__3OxEz .chatbox-lib-module_active__3KrHC {
  color: #00BAFC;
}
.chatbox-lib-module_chatbox__debugger__main__content__text___ZAyI {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5f6b76;
}

.chatbox-lib-module_white-bg__1hvDs {
  background-color: #fff;
}